.flash {
    box-sizing: border-box;
}

.frente,
.verso {
    width: 299px;
    height: 131px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 25px;
}

.frente {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.frente ion-icon {
    padding-left: 254px;
    padding-bottom: 6px;
    font-size: 30px;
    color: #333333;
}

.frente h2,
.verso p {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    width: 247px;
    height: 44px;
}

.verso div {
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.74px;
    margin-top: 10px;
}

.box1 {
    width: 85.17px;
    height: 37.17px;
    background-color: #FF3030;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.box2 {
    width: 85.17px;
    height: 37.17px;
    background-color: #FF922E;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.box3 {
    width: 85.17px;
    height: 37.17px;
    background-color: #2FBE34;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}